In [1]:
import pandas as pd

In [13]:
# Reading data from a CSV file located at the provided URL and creating a DataFrame 'df'.
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [14]:
# Extracting the 'Name' column data for the first 10 rows from the DataFrame 'df'.
s = df['Name'][0:10]

# Displaying the extracted data stored in the Series 's'.
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [15]:
# Creating a list containing elements 'a' through 'j'.
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
# Creating a new pandas Series 's1' by converting the contents of another object 's' into a list,
# and assigning custom indices from a list 'l'.
s1 = pd.Series(list(s), index=l)

# Displaying the newly created Series 's1'.
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [6]:
s1['a']

'Braund, Mr. Owen Harris'

In [8]:
s1[0]

'Braund, Mr. Owen Harris'

In [11]:
# Assuming s and s1 are your DataFrames or Series
s3 = pd.concat([s, s1])
# concatenation of two series
s3

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [21]:
# importing the module
import pandas as pd

# creating the Series
series1 = pd.Series([1, 2, 3])
display('series1:', series1)
series2 = pd.Series(['A', 'B', 'C'])
display('series2:', series2)

# concatenating
display('After concatenating:')
display(pd.concat([series1, series2],
				axis = 1))

'series1:'

0    1
1    2
2    3
dtype: int64

'series2:'

0    A
1    B
2    C
dtype: object

'After concatenating:'

   0  1
0  1  A
1  2  B
2  3  C

In [22]:
# importing the module
import pandas as pd

# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
					'B': ['B4', 'B5', 'B6', 'B7']})
display('df2:', df2)

# concatenating
display('After concatenating:')
display(pd.concat([df1, df2],
				keys = ['key1', 'key2']))

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    A   B
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

'After concatenating:'

         A   B
key1 0  A0  B0
     1  A1  B1
     2  A2  B2
     3  A3  B3
key2 0  A4  B4
     1  A5  B5
     2  A6  B6
     3  A7  B7

In [23]:
# importing the module
import pandas as pd

# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
					'D': ['D0', 'D1', 'D2', 'D3']})
display('df2:', df2)

# concatenating
display('After concatenating:')
display(pd.concat([df1, df2],
				axis = 1))

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

'After concatenating:'

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [3]:
# importing the module
import pandas as pd
from IPython.display import display

# creating the DataFrame
df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})
display('df:', df1)
# creating the Series
series = pd.Series([1, 2, 3, 4])
display('series:', series)

# concatenating
display('After concatenating:')
display(pd.concat([df, series],
				axis = 1))

NameError: name 'df1' is not defined

In [2]:
import pandas as pd
from IPython.display import display

# Creating the DataFrame
df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3']})

# Display the DataFrame
display('df:', df)

# Creating the Series
series = pd.Series([1, 2, 3, 4])

# Display the Series
display('series:', series)

'df:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'series:'

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
s4 = pd.Series([3, 4, 5, 6,6], index=[2, 4, 5, 6, 1])
s5 = pd.Series([34, 44, 54, 64,67], index=[9, 7, 4, 5, 6])

In [17]:
pd.concat([s4,s5])

2     3
4     4
5     5
6     6
1     6
9    34
7    44
4    54
5    64
6    67
dtype: int64

In [18]:
s4*s5

1      NaN
2      NaN
4    216.0
5    320.0
6    402.0
7      NaN
9      NaN
dtype: float64